

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background-color: #FBFBFB;
  margin: 0;
  padding: 0;
}